* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 16px / 1.231 "Helvetica", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  margin-top: 1.5em;
}

p {
  margin: 1em 0;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #fff;
  background-color: #090;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  background: #fff;
}

table, tr, td, th {
  border: 1px solid #999;
}

blockquote {
  border-left: 0.5em solid #999;
  margin-left: -0.5em;
  padding: 1px 0.75em;
  background: #ddd;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 1em;
}

ul.posts>li {
  margin-left: 50px;
}

ul.posts>li>time {
  color: #aaa;
  font-size: 80%;
  width: 100px;
  display: block;
  margin-top: 1em;
}

ul.posts>li>a {
  padding: 0.1em;
}

.site {
  text-align: left;
  width: 600px;
  margin: 50px auto 30px auto;
}

.title {
  width: 250px;
  overflow: auto;
}

.name {
  width: 100px;
  float: left;
}

.greeting {
  float: right;
  width: 150px;
}

.name, .greeting {
  color: #0c0;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.name>a {
  color: #0c0;
  text-decoration: none;
}

.name>a:hover {
  color: #fff;
  background: #0c0;
}

.greeting>a.extra {
  color: #aaa;
  text-decoration: none;
}

.greeting>a.extra:hover {
  color: #fff;
  background: #0c0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
  margin: 2em 0;
  padding: 0 0 1em 0;
  width: 500px;
  float: right;
}

.site .footer a {
  color: #8085C1;
}

.site .footer a:hover {
  color: #fff;
  background-color: #090;
  text-decoration: none;
}

.site .footer .contact {
  float: left;
  margin-left: 240px;
  width: 120px;
  text-align: left;
  margin-top: 0.5em;
}

.site .footer .about {
  float: right;
  width: 120px;
  text-align: right;
  margin-top: 0.5em;
  margin-right: none;
}

/* standard */

#post pre {
  border: 1px solid #999;
  background-color: #272822;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  background-color: #ffffc8;
}

#post pre code {
  background-color: #272822;
  color: white;
  font-size: 85%;
  padding: 0 .2em;
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

.footnote {
  font-size: 70%;
  color: #999;
}

@media screen and (max-width: 700px) {
  .title { font-size: 14px; margin-bottom: 16px; }
  h1 { margin-top: 1em; }
  ul.posts>li { margin-left: 1em; }
  .site { width: 94%; margin: 1em auto 2em auto; }
  #post pre { font-size: 10px; width: 94%; overflow: auto; }
  img { max-width: 100%; }
}
