@import compass

+global-reset

$foreground-color: #222222
$background-color: #ffffff
$link-color:       #05c902
$highlight-color:  #ffffc8

$base-font-size: 16px
$base-line-height: 24px

$heading-font-sizes: 44px,28px,22px,18px,16px,16px

$grid-background-baseline-color:  rgba(0,0,0,0.05)
$grid-background-baseline-height: $base-line-height/$base-font-size * 1em 

+establish-baseline

html
	margin: 0 1em
	background: $background-color
	// +debug-vertical-alignment
	font-family: "Helvetica", sans-serif
	color: $foreground-color

@for $i from 1 through 6
	h#{$i}
		+adjust-font-size-to(nth($heading-font-sizes, $i))
		font-weight: bold

h1
	+trailer(1, nth($heading-font-sizes, 1))

p
	+trailer(1)

a
	color: lighten($foreground-color, 25%)
	text-decoration: underline
	&:visited
		color: lighten($foreground-color, 50%)
	&:hover
		background: $link-color
		color: mix($link-color, $background-color, 0.75)

p code
	background: $highlight-color
	font-family: monospace

pre
	+trailer(1)
	+rhythm-borders(2px)
	background: transparentize($foreground-color, 0.1)
	border-color: mix($foreground-color, $background-color)
	font-family: monospace
	// +adjust-font-size-to(14px, 1)
	color: $background-color
	overflow: scroll

#site
	width: 40em
	margin: 0 auto
	+leader(1)

#title
	font-weight: bold
	@extend h1
	a
		color: $link-color
		text-decoration: none
		&:hover
			color: mix($link-color, $background-color)

#posts
	+leader(2)
	+trailer(1)

	time
		+leader(1)
		display: block

	a
		@extend h2
		display: block
		color: $foreground-color
		text-decoration: none
		background: $background-color
		&:hover
			background: darken($background-color, 10%)
			color: lighten($foreground-color, 10%)


#footer
	overflow: auto
	+leader(1.5)
	+padding-trailer(1)
	+leading-border(3px, 0.5)
	border-color: mix($foreground-color, $background-color)
	border-style: solid

	li
		width: 25%
		float: left
		text-align: center