<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Articles written by Alisdair McDiarmid, about stuff and things.">
    <meta name="author" content="Alisdair McDiarmid">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{% minified_css_file %}" rel="stylesheet" type="text/css" media="screen, projection" />
  </head>

  <body>
    <div id="site">
      <div id="title">
        <a href="/">Alisdair McDiarmid</a>
      </div>

      <div id="main">
      {{ content }}
      </div>

      <div id="footer">
        <ul class="links">
          <li><a href="http://github.com/alisdair/">GitHub</a></li>
          <li><a href="http://twitter.com/alisdair/">Twitter</a></li>
          <li><a href="http://www.linkedin.com/pub/alisdair-mcdiarmid/5a/340/431">LinkedIn</a></li>
          <li><a href="http://feeds.feedburner.com/randomoracle">RSS Feed</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
